<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          <!-- Layout Placeholder -->
          <layout-placeholder name="title"/>
        </title>
        <lasso-head/>
    </head>
    <body>
        <!-- Header Bar -->
        <header-bar />

        <!-- Layout Placeholder -->
        <layout-placeholder name="content" />

        <!-- Modal Group -->
        <modal-group/>

        <!-- Footer -->
        <lasso-body/>
        <init-widgets/>
        <browser-refresh enabled="true" if(data.liveRefresh)/>
    </body>
</html>
