nav.navbar
  // Display
  // position: fixed;
  display: block

  // Height + Width
  width: 100%

  // Margins + Padding
  margin: auto auto 0 auto

  // Colors
  background-color: #FFF

  // Shadow
  box-shadow: 0px 0px 2px rgba(0,0,0, 0.25)

  // Z-Index
  // z-index: 4242

  .row
    // Display
    position: relative
    flex-flow: row nowrap
    justify-content: center
    // Padding
    padding: rem-calc(10px) 0
    // Z-Index
    z-index: initial
    // Colors
    background-color: #FFF

    // Text
    text-align: center

    > a
      // Margin
      margin-right: rem-calc(15px)
