<header w-bind>
    <nav class="navbar">
        <div class="row">
            <a title="Button One" class="rounded-button small green" data-modal-one-button>Open Modal One</a>
            <a title="Button Two" class="rounded-button small green" data-modal-two-button>Open Modal Two</a>
            <a title="Button Three" class="rounded-button small green" data-modal-three-button>Open Modal Three</a>
        </div>
    </nav>
</header>
