.home
  // Display
  display: flex
  flex-flow: column nowrap
  align-items: center

  > h1
    // Color
    color: $orange

    // Margin
    margin: rem-calc(10px) 0

  > a
    // Margin
    margin-bottom: rem-calc(10px)
