.component-three
  // Global
  h1
    // Margin + Padding
    margin: 0
    padding: 0
    // Font
    font-size: rem-calc(28px)
    font-weight: 600
    line-height: rem-calc(30px)
    // Color
    color: $grey

  p, span
    // Margin + Padding
    margin: 0
    padding: 0
    // Font
    font-size: rem-calc(15px)
    font-weight: 400
    line-height: rem-calc(22px)
    // Color
    color: $grey

  // Header
  header
    // Display
    position: relative

    // Margin + Padding
    margin: 0 0 rem-calc(20px) 0

    // Border
    border-bottom: 1px solid rgba(0,0,0, .18)

    > h1
      // Margin
      margin-bottom: rem-calc(8px)

    > p
      // Padding
      padding-bottom: rem-calc(15px)

    .selectInterface,
      // Display
      position: absolute

      // Position
      top: rem-calc(-84px);
      left: 50%
      transform: translateX(-50%)

      // Width
      height: rem-calc(34px)

      > span
        font-size: rem-calc(14px)
        font-weight: 400
        color $white
        white-space: nowrap

      > span + span
        // Margin
        margin-left: rem-calc(10px);
        // Font
        font-size: rem-calc(14px)
        font-weight: 400


    .row
      padding: 0 0 rem-calc(15px) 0

      > .rounded-button + span
        // Display
        display: inline-block

        // Margin + Padding
        margin: 0 0 0 rem-calc(15px)

        // Line Height
        line-height: rem-calc(40px)

  // Visiblity Classes
  .section
    // Visibility
    display: none

    &.visible
      // Visibiltiy
      display: block

  // Terms
  .note
    // Display
    display: inline-block

    // Height + Width
    height: rem-calc(50px)
    width: 50%

    // Margin
    margin: 0 0 0 rem-calc(15px)
    padding: rem-calc(5px) 0 0 0

    // Font
    font-size: rem-calc(13px)
    font-weight: 300
    line-height: rem-calc(20px)
    color: $grey

    // Align
    vertical-align: middle

    &.error
      // Color
      color: $red
