.rounded-button
  // Border
  border-radius: 3px
  // Cursor
  cursor: pointer
  // Outline
  outline: 0
  // Border
  border: 0
  // Text
  text-decoration: none

  &:hover
    text-decoration: none

  &.x-small
    // Padding
    padding: rem-calc(8px)

    // Font
    font-size: rem-calc(12px)
    font-weight: 300
    line-height: rem-calc(20px)

  &.small
    // Padding
    padding: rem-calc(8px) rem-calc(10px)

    // Font
    font-size: rem-calc(13px)
    font-weight: 400
    line-height: rem-calc(20px)

  &.large
    // Padding
    padding: rem-calc(15px) rem-calc(20px)

    // Font
    font-size: rem-calc(16px)
    font-weight: 400
    line-height: rem-calc(20px)

  // Orange
  &.orange
    // Background
    background-color: transparent

    // Border
    border: 1px solid $orange

    // Color
    color: $orange

    &:hover
      // Color
      color: $white

    &.hover
      // Animation
      transition: background-color 200ms ease

      &:hover
        // Background
        background-color: hsla(0, 0%, 100%, .26)

  // Green Button
  &.green
    // Background
    background-color: $green

    // Border
    border: 1px solid $green

    // Color
    color: $white

    &:hover
      // Color
      color: $white

    // Halo Hover
    &.halo
      // Animation
      transition: all 200ms ease

      &:hover
        // Color
        color: $white
        // Background
        background-color: #77c024
        // Box Shadow
        box-shadow: 0 0 rem-calc(15px) 0 rgba(0, 0, 0, .32)
        // Border
        border: 1px solid #77c024
