// Guidelines
// All variables will start with a $
// All variables will be dash, - , delimited

// Global
// Primary Fonts
$primary-font = "proxima-nova", sans-serif;

  // Colors
$white = #fff;
$black = #000;

  // Orange
$orange = #e15528;
$light-orange = #de6b00;

  // Grey
$dark-grey = #333333;
$grey = #545454;
$light-grey = #444;
$lighter-grey = #ccc;
$lightest-grey = #f5f5f5

  // Green
$green = #64952d;

  // Blues
$lighter-blue = #58adeb;
$light-blue = #3898EC;
$blue = #1b74b3;

  // Yellow
$yellow = #ffc520;

  // Red
$red = #e71616;

  // Break Points
$mobile-break = 820px;
$modal-width = 550px

  // Row
$row-width = 1000px;


// Header Variables
$header-link-color       = $light-grey;
$header-link-hover-color = $lighter-blue;
