label
  // Display
  display: block

  // Margin
  margin: 0 0 rem-calc(5px) 0

  // Font
  font-size: rem-calc(15px);
  font-weight: 400
  line-height: rem-calc(20px)
  color: $grey


.error > label
  // Color
  color: $red
