.component-two
  h1
    // Margin + Padding
    margin: 0
    padding: 0
    // Font
    font-size: rem-calc(22px)
    font-weight: 600
    line-height: rem-calc(23px)
    // Color
    color: $blue

  p
    // Margin + Padding
    margin: 0
    padding: 0
    // Font
    font-size: rem-calc(15px)
    font-weight: 400
    line-height: rem-calc(22px)
    // Color
    color: $black

  header
    // Margin
    margin: 0 0 rem-calc(20px) 0

    // Border
    border-bottom: 1px solid rgba(0,0,0, .18)

    > h1
      // Margin
      margin-bottom: rem-calc(8px)

    > p
      // Padding
      padding-bottom: rem-calc(15px)
